In [1]:
import numpy as np
import pandas as pd

In [2]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [3]:
match.head(2)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [4]:
match.shape

(756, 18)

In [5]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [6]:
#Group the data based on match id and innings and take the sum of that data i.e find the total runs in each innings of each match
total_scores_df = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [7]:
total_scores_df = total_scores_df[total_scores_df['inning'] == 1]
total_scores_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [8]:
#Merge the total runs of first innings into the match_df
match_df = match.merge(total_scores_df[['match_id','total_runs']],left_on='id',right_on='match_id')
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152

In [9]:
match_df.team1.unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [10]:
teams = ['Sunrisers Hyderabad', 
         'Mumbai Indians', 
         'Royal Challengers Bangalore', 
         'Kolkata Knight Riders', 
         'Kings XI Punjab',
         'Chennai Super Kings', 
         'Rajasthan Royals', 
         'Delhi Capitals' ]

In [11]:
#Replace older names of teams with newer names, also remove the teams which are now no longer a part of IPL
match_df.team1 = match_df.team1.str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df.team2 = match_df.team2.str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df.team1 = match_df.team1.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df.team2 = match_df.team2.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df = match_df[match_df.team1.isin(teams)]
match_df = match_df[match_df.team2.isin(teams)]

In [12]:
match_df.shape

(641, 20)

In [13]:
match_df.dl_applied.value_counts()

0    626
1     15
Name: dl_applied, dtype: int64

In [14]:
match_df = match_df[match_df['dl_applied']==0]

In [15]:
#Pick only the useful columns from match_df and merge with delivery dataframe to create a new dataframe delivery_df
match_df = match_df[['match_id','city','winner','total_runs']]
delivery_df = match_df.merge(delivery,on='match_id')
delivery_df = delivery_df[delivery_df.inning==2]

In [16]:
delivery_df.shape

(72413, 24)

In [17]:
delivery_df.batting_team = delivery_df.batting_team.str.replace('Delhi Daredevils', 'Delhi Capitals')
delivery_df.bowling_team = delivery_df.bowling_team.str.replace('Delhi Daredevils', 'Delhi Capitals')

delivery_df.batting_team = delivery_df.batting_team.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
delivery_df.bowling_team = delivery_df.bowling_team.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

In [18]:
#Calculate Current Score, Runs left, Balls Left for the second innings
delivery_df['current_score'] = delivery_df.groupby('match_id').cumsum()['total_runs_y']
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score'] + 1 
delivery_df['balls_left'] = 126 - (delivery_df['over'] *6 + delivery_df['ball'])

In [19]:
#Replace all the NaN values of player dismissed with 0, and 
#Convert all the places where there is a name of the player in the 'player_dismissed' column into 1 and
#Convert the entire column to integer type and then take the cumulative sum to know the number of wickets fallen
#Calculate the wickets remaining
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x=="0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets_left'] = 10 - wickets
delivery_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
149573,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,NaN,NaN,152,1,4,5
149574,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,NaN,NaN,154,-1,3,5
149575,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,run out,KH Pandya,155,-2,2,4
149576,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,NaN,NaN,157,-4,1,4
149577,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,lbw,NaN,157,-4,0,3

In [20]:
#Calculate Current Run Rate and Required Run Rate
delivery_df['current_rr'] = delivery_df['current_score']*6/(120-delivery_df['balls_left'])
delivery_df['required_rr'] = delivery_df['runs_left']*6/delivery_df['balls_left']

In [21]:
#If batting team wins, return 1 else return 0
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [22]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [23]:
final_df = delivery_df[['batting_team','bowling_team', 'city', 'runs_left', 'balls_left', 'wickets_left', 'total_runs_x', 'current_rr', 'required_rr', 'result']]

In [24]:
#RandomForest not used because was giving extreme results

In [25]:
#To remove a bias we shuffle the dataset
final_df = final_df.sample(final_df.shape[0])

In [26]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_rr,required_rr,result
33218,Royal Challengers Bangalore,Sunrisers Hyderabad,Johannesburg,133,104,10,143,4.125,7.673077,0

In [27]:
#Remove any NaN values in final_df
final_df.dropna(inplace=True)

In [28]:
#To prevent infinite run rate we remove the case when 0 balls remain
final_df = final_df[final_df['balls_left'] != 0]

In [29]:
X = final_df.iloc[:,:-1]
Y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=1)

In [30]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_rr,required_rr
16577,Royal Challengers Bangalore,Rajasthan Royals,Jaipur,114,26,2,197,5.361702,26.307692
128911,Mumbai Indians,Kings XI Punjab,Indore,172,108,10,184,6.500000,9.555556
37623,Chennai Super Kings,Royal Challengers Bangalore,Bangalore,111,60,7,171,6.100000,11.100000
87487,Rajasthan Royals,Sunrisers Hyderabad,Abu Dhabi,84,64,7,133,5.357143,7.875000
59187,Delhi Capitals,Royal Challengers Bangalore,Bangalore,90,62,8,157,7.034483,8.709677
...,...,...,...,...,...,...,...,...,...
129190,Chennai Super Kings,Royal Challengers Bangalore,Pune,69,66,8,131,7.000000,6.272727
86760,Mumbai Indians,Kolkata Knight Riders,Abu Dhabi,118,67,8,163,5.207547,10.567164
113284,Chennai Super Kings,Mumbai Indians,Mumbai,113,67,8,187,8.490566,10.119403
146954,Rajasthan Royals,Royal Challengers Bangalore,Bengaluru,44,108,10,65,11.000000,2.444444
29869,Mumbai Indians,Rajasthan Royals,Durban,43,26,4,145,6.574468,9.923077

In [31]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [33]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [34]:
pipe.fit(X_train,Y_train)

C:\Users\Ashmit\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [35]:
Y_pred = pipe.predict(X_test)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.8140023827878617

In [37]:
pipe.predict_proba(X_test)[14]

array([0.88531692, 0.11468308])

In [38]:
def match_summary(row):
       print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']+1))

In [39]:
def match_progression(x_df,match_id,pipe):
    #Step 1: Select a particular match by it's "match id" and the end of each over 
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    #Step 2: Make a temperory data frame with all the required columns
    temp_df = match[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','current_rr','required_rr']].dropna()
    #Step 3: Remove all the cases where balls_left is 0
    temp_df = temp_df[temp_df['balls_left'] != 0]
    #Step 4: Calculate the probability of losing and winning
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    #Step 5: Calculate end_of_over values and other similar values
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['total_runs_x'].values[0]+1
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['wickets_left'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [43]:
temp_df,target = match_progression(delivery_df,79,pipe)
temp_df

Target- 170

       end_of_over  runs_after_over  wickets_in_over  lose   win
11683            1                8                0  99.0   1.0
11689            2               16                0  98.2   1.8
11696            3                7                0  98.0   2.0
11702            4               12                0  97.1   2.9
11708            5               11                0  96.1   3.9
11714            6               10                0  94.9   5.1
11720            7               15                0  91.7   8.3
11727            8               14                0  87.3  12.7
11734            9                8                0  85.3  14.7
11740           10                5                0  84.9  15.1
11746           11                7                0  83.2  16.8
11752           12                5                1  89.8  10.2
11758           13                5                0  89.6  10.4
11764           14               11                0  86.0  14.0
11770           15                8                1  90.3   9.7
11776           16                5                0  90.1   9.9
11782           17                7                0  88.8  11.2
11788           18                2                0  90.3   9.7
11794           19               12                0  84.7  15.3

In [42]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))